.section-hakobyan {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.about {
    width: 100%;
    max-width: 1076px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    flex-direction: row;
    gap: 134px;
}

.about.image-right {
  flex-direction: row-reverse;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image > div img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

.about-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-image.square {
  aspect-ratio: 1 / 1;
}

.about-image.portrait {
  aspect-ratio: 3 / 4;
}

.about-image.auto {
  aspect-ratio: auto;
}

.about-image > div {
    background: #ccc;
    width: 316px; 
    height: 396px;
}

.about-content {
    flex: 2;
    padding: 0;
}

.about-content h2 {
    font-size: 65px;
    font-weight: normal;
    color: #86746D;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    letter-spacing: -2.6px;
    line-height: 0.9;
    margin-top: 0;
    margin-bottom: 46px;
}

.about-content h2 p {
 margin: 0;
}

.text {
  height: auto;
  margin-top: 0;
  padding-bottom: 0; 
  color: #000000;
  opacity: 0.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: -0.32px;
  margin-bottom: 0;
}

.text.divider{
  position: relative;
}

.text.divider::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: black;
  color: black;
  margin-top: 47px;
  margin-bottom: 24px;
  display: block; 
  opacity: 0.2;
}

.secondary-text {
  column-count: 2; 
  column-gap: 24px; 
  width: 100%;
  display: inline-block;
  margin-top: 0;
  opacity: 0.6;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: -0.32px;
  color: black;
  margin-bottom: 48px;
}

.authors-wrapper{
    display: flex;
    gap: 28px;
    align-items: flex-start;
}
.authors-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  align-items: flex-start;
}

.authors-about{
    display: flex;
    flex-direction: column;
}
.authors-name{
    display: flex;
    flex-wrap: wrap;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -20px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 3px solid white;
  overflow: hidden;
  margin-bottom: 0;
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.author  > .placeholder-svg {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 43px;
  height: 43px;
  border-radius: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.authors-name-wrapper{
    margin-bottom: 0;
}

.authors-name-wrapper .author-name {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27.2px;
  letter-spacing: -0.32px;
}

.author-position{
    margin: 0;
    max-width: 260px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27.2px;
    letter-spacing: -0.32px;
    opacity: 0.6;
}

@media screen and (min-width: 200px) {
 .about {
    flex-direction: column;
    align-items: center;
    gap: 40px;
 }
 .about-image{
    width: 100%;
 }
 .about.image-right {
  flex-direction: column-reverse;
 }
 .secondary-text{
    column-count: 1; 
 }
 .authors-wrapper{
    display: flex;
    flex-direction: column;
 }
}

@media screen and (min-width: 896px) {
 .about {
    flex-direction: row;
    align-items: flex-start;
    gap: 134px;
 }
  .about-image{
    width: auto;
 }
 .about.image-right {
  flex-direction: row-reverse;
 }
 .secondary-text{
    column-count: 2; 
 }
 .authors-wrapper{
    display: flex;
    flex-direction: row;
 }
}